<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
    <h1>Welcome to our homepage</h1>
   
    <a href="{% url 'rental:new_rental' pk=1 %}">Create new rental</a>
    </div>
   <div class="container">
    <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>My apartment listing</th>
            <th></th>
            <th></th>
            <th>Created at</th>
          </tr>
        </thead>
        {% if rentalproperty_list %}
        <tbody>
            {% for propertys in rentalproperty_list %}
          <tr>
            <td>
            <a href="{% url 'rental:detail' propertys.pk %}">{{propertys.title}}</a>
              <small class="text-muted d-block">{{ board.description }}</small>
            </td>
            <td class="align-middle">
            <a href="{% url 'rental:delete' propertys.pk %}">delete</a>
            </td>
            <td class="align-middle">
            <a href="{% url 'rental:update' propertys.pk %}">update</a>
            </td>
            <td class="align-middle">
                {{ propertys.created_at }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {%else %}
    <p>No rental title available</p>
    {% endif %}
      </table>
    </div>
</body>
</html>