<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New rental</title>
    <script>
      
    </script>
</head>
<body>
    <H1>New rental</H1>
    {% if rental_form.errors %}
    {% for field in rental_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in rental_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ rental_form.as_p }}
        {{ contract_form.as_p }}
        <input type="submit" value="submit">
       
    </form>
    
</body>
</html>